---
import Layout from "../layouts/Layout.astro";
import * as data from '../data.json'
import NavMenu from "../components/NavMenu";

const {technologies} = data
---

<Layout title="Proyectos">
  <main
    class="w-full overflow-hidden h-full relative flex flex-col justify-between backdrop-blur-md rounded-xl border-2 border-black/45 bg-gradient-to-b from-black/90 via-slate-900/45 to-sky-950/70"
    transition:name="main"
  >
    <div
      class="w-full h-max flex flex-col items-center md:items-center p-3 text-slate-200"
    >
      <h1 class="text-4xl font-bold z-30 drop-shadow-sm" transition:name="technologies">Tecnologías</h1>
    </div>
    <div class="z-30 w-full h-full relative flex-1 flex justify-center md:justify-end drop-shadow-sm md:translate-y-10">
        <div class="w-full h-full md:w-1/2 flex flex-wrap-reverse items-center justify-center gap-2">
            {
                technologies.map(technology => (
                    <b class="w-max h-max text-md px-2 border-slate-800/55 bg-gradient-to-b text-gray-200 rounded-lg">{technology}</b>
                ))
            }
        </div>
    </div>
    <div
      class="w-[1200px] flex-[0.7] bg-gradient-to-b via-black to-[#092a52] from-transparent -rotate-[0deg] -translate-x-28 translate-y-6 z-10"
    >
    </div>
    <img
      src="/perfil.webp"
      alt="Marcelo Lencina"
      title="Marcelo Lencina image"
      class="absolute -left-14 bottom-8 drop-shadow-[-5px_0px_7px_rgba(0,0,0,1)] blur-sm md:blur-none rotate-[32deg] scale-150 md:scale-100"
    />
    <NavMenu client:load/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    max-height: 1080px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>